<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">See your contacts below</p>

            <%- include('includes/messages') %>

            <% if(contacts.length > 0) { %>
            <div class="table-responsive-sm my-5">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <% contacts.forEach(contact => { %>
                        <tr>
                            <td ><%= contact.name %></td>
                            <td><%= contact.lastName %></td>
                            <td><%= contact.phone %></td>
                            <td><%= contact.email %></td>
                            <td><a class="link-underline-light" href="/contact/index/<%= contact._id %>">Edit</a></td>
                            <td><a class="link-underline-light text-danger" href="/contact/delete/<%= contact._id %>">Delete</a></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
            <% } else { %>
                <p class="text-center lead">There are no contacts in your agenda.</p>
            <% } %>
        </div>
    </div>
</div>

<%- include('includes/footer') %>